<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://wwww.w3.org/TR/xhtml11/.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: taghead"></head>

<nav th:replace="fragments/navbar :: tagnavbar"></nav>

<body>
	<h1 th:text="${titre}">Ajouter un compte courant</h1>
	<div class="m-5">
		<span class="alert alert-danger m-5" th:each="e: ${Errors}"
			th:text='${e.getField() + " --- " + e.getDefaultMessage()}'></span>
	</div>
	<form class="form" th:action="@{/compte/la/add}" th:object="${compteLAForm}" method="POST">
		<div class="form-container m-5">
			<div class="form-group">
				Numéro :
				<input id="numero" type="text" th:field="*{numero}" />
				Solde :
				<input type="text" th:field="*{solde}" />
				Taux :
				<input type="text" th:field="*{taux}" />
			</div>
		</div>
		<input class="btn btn-outline-success" type="submit" value="Ajouter" />
	</form>

	<footer th:replace="fragments/footer :: tagfooter"></footer>
</body>

</html>