<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://wwww.w3.org/TR/xhtml11/.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: taghead"></head>

<nav th:replace="fragments/navbar :: tagnavbar"></nav>

<body>
	<h1 th:text="${titre}"></h1>
	<div class="container-fluid d-flex justify-content-end">
		<a th:href="@{/compte/cc/add}" class="btn btn-outline-success mb-3">Nouveau Compte Courant</a>
		<a th:href="@{/compte/av/add}" class="btn btn-outline-success mb-3">Nouvelle Assurance Vie</a>
		<a th:href="@{/compte/la/add}" class="btn btn-outline-success mb-3">Nouveau Livret A</a>
	</div>
	<table class="table table-striped text-center">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Solde</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="compte : ${comptes}">
				<td th:text="${compte.numero}"></td>
				<td th:text="${compte.solde} + €"></td>
				<td th:text="${compte.getType()}"></td>
				<td><a class="text-success" th:href="@{/compte/update/{id}(id=${compte.id})}">Modifier</a>
					| <a class="text-danger" th:href="@{/compte/delete/{id}(id=${compte.id})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>

	<footer th:replace="fragments/footer :: tagfooter"></footer>

</body>

</html>